.itemList ul {
    list-style: none;
}

.itemList li {
    margin: 10px 0;
    padding:0;
}

.itemList li + li {
    border-top: 1px solid darkred;
}

.totalAmount {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:24px;
    font-weight:700;
    margin:15px 0;
}