.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions button:disabled {
  cursor:not-allowed;
  background:#ccc;
  border-color:#ccc;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}

.inputWrapper {
  margin-bottom:15px;
}

.inputWrapper label {
  display:block;
  margin:5px 0;
}

.inputWrapper input {
  display:block;
  width:100%;
}