.popupOuter {
    position:fixed;
    top:0;
    left:0;
    display:flex;
    justify-content: safe center;
    align-items: safe center;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    z-index:1000;
}

.popup {
    display:block;
    width:500px;
    max-width:90%;
    border-radius:5px;
    overflow:hidden;
}

.headingContent {
    display:block;
    padding:10px 15px;
    background:purple;
}

.headingContent h2 {
    font-size:20px;
    font-weight:700;
    line-height:20px;
    color:#fff;
}

.popupContent {
    background:#fff;
    padding:15px;
}

.popupText {
    margin:10px 0 50px;
}

.navWrapper {
    display:flex;
    justify-content: flex-end;
}