.menu {
  list-style: none;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color:#fff;
}

.menu a:hover,
.menu a.active {
  text-decoration: underline;
}