.heading {
    color:#fff;
    font-family:Verdana, sans-serif;
}

h1.heading {
    font-size:30px;
    line-height:30px;
}

h2.heading {
    font-size:24px;
    line-height:24px;
}

h3.heading {
    color:#000;
    font-size:18px;
    line-height:18px;
}